{
  "aphrodita.sona.rachmadani": "",
  "annaasalmahabbatululanuraddien2004": "",
  "faurinnisamahendaru": "",
  "ririentwijaya": "",
  "moniquitarehulinabrsembiring": "",
  "fatihazkaaffandi": "",
  "firosaaniqotulwahdah": "",
  "adimasdwiprabowo": "",
  "havidjibrilpamenan": "",
  "muadzzahidhidayatullah": "",
  "ranggabagusaryoko": "",
  "rarapinastiwastiqantipriowasono": "",
  "muhammadwikyilmawan": "",
  "hafizabbadalhakim": "",
  "anisahulayya": "",
  "khumaidaazzahra": "",
  "alexanderdimasaryasenanugraha": "",
  "az-zahraisnaininoerazizah": "",
  "dwinurlailatunnissa2005": "",
  "annisauswatunkhasanah2003": "",
  "salsabilanayla": "",
  "fathinahasnafirdausimuttaqien": "",
  "sekararumsaharani": "",
  "fernandafidelmuhammad": "",
  "muhammadekrimaabimanyu": "",
  "muhammadargyavityasy2005": ""
}